body {
  margin: 5vh 5vw;
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at 20% 30%, #3b82f6 0%, transparent 50%),
              radial-gradient(circle at 80% 60%, #9333ea 0%, transparent 50%),
              linear-gradient(135deg, #1e3a8a, #4f46e5, #9333ea);
  background-blend-mode: screen;
  min-height: 90vh;
}

header {
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgb(59, 57, 57);
}

body, html {
  margin: 0;
  padding: 0;
}
